button {
    padding: 8px 16px;
    border-radius: 4px;
    min-width: 5.14em;
    cursor: pointer;
    margin-right: 15px;
    border: 1px solid rgb(218 220 224);
    color: white;
    background-color:rgba(26, 115, 232, 0.9);
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

button:hover {
    background-color: rgb(66, 133, 244);
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#editor {
    flex-grow: 2;
    font-family: Consolas, 'Courier New', monospace;
}

#bottom {
    text-align: right;
    flex-grow: 0;
}