#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#editor {
    flex-grow: 2;
    font-family: Consolas, 'Courier New', monospace;
    border: 1px solid rgb(218 220 224);
    margin-top: 4px;
    margin-bottom: 4px;
}

#bottom {
    text-align: right;
    flex-grow: 0;
    padding-top: 4px;
}


/*Loading animation*/
.square-holder {
    display: flex;
    justify-content: right;
    padding-right: 90px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.square {
    width: 17px;
    height: 17px;
    border-radius: 4px;
    background-color: rgba(26, 115, 232, 0.9);
    animation: loading 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes loading {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(90px, 0) rotate(360deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
}